@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin: 0;
}
   

    body{
        background-image:url(./images/pattern-background-desktop.svg) ;
        background-color: hsl(225, 100%, 94%);
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 13px;
    }

    main {
        height: 500px;
        width: 340px;
        background-color: #fff;
        border-radius: 10px;
    }

    p {
        color: hsl(224, 23%, 55%);
    }


    .illustration {
        width: 100%;
        border-radius: 10px 10px 0 0;

    }

     h1 {
       margin: 20px 0 0 0 ;
       font-size: 16px;
       font-weight: 900;
       color:hsl(223, 47%, 23%);
    }
   
    .description {
        margin: 20px 0 0 0 ;
        text-align: center; 
        
    }

    .music{
        margin-right: 15px;
        height: 40px;
        width: 40px;
    }

    .plan{
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

    }
    .pln{
        font-weight: 900;
        color:hsl(223, 47%, 23%);;
    }


    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 40px; 
    }
    
    .price{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 20px 0 0 0 ;
        background-color: hsl(225, 100%, 98%);
        height: 60px;
        width: 100%;
        border-radius: 10px;
        padding: 0 20px;
    }  
    
    .change {
        margin-left: 80px;
        font-weight: 500;
        
    }


    .btn{
        margin: 30px 0 0 0 ;
        height: 40px;
        width: 88%;
        margin: 20px  0 0 20px ;
        border-radius: 10px;
        background-color:hsl(245, 75%, 52%);
        color: white;
        border: none;
         
    }

    .cancel{
        margin: 20px  0 0 130px ;
    }

    .attribution { 
        font-size: 11px; text-align: center;
        margin-top: 10px;
     }

    .attribution a { 
        color: hsl(228, 45%, 44%); 
        margin-top: 10px;
    }